.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #222;
}

.header {
  height: 5vh;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  flex: 0.1;
}

.main {
  height: 90vh;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 5vh;
  display: flex;
  flex: 0.1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
