.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #222;
  overflow: hidden;
}

.header{  
  height: 5vh;
  background-color: aqua;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.main{
  height: 100%;
}

.footer{
  height: 5vh;
  background-color: #0070f3;
  display: flex;
  justify-content: center;
  align-items: center;
}